@layout Layout404

<PageTitle>Error 404</PageTitle>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
        <h3>Oops! Página o recurso no encontrado</h3>
        <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>Lo sentimos, pero no encontramos la página o recurso que solicitaste</h2>
    </div>
</div>

@code {


}
