@using System.Reflection;
@using TaskSe.Model.Models.Configuracion.Perfilamiento;
@using TaskSe.Services.Interfaces.Configuracion.Perfilamiento;
@using TaskSe.Web.Authentication;
@using TaskSe.Web.Authorization;

@implements IDisposable

@inject AuthorizationService _authService
@inject ILogger<PageAuthorizationView> _logger

@if (_isLoading)
{
    <span>Autorizando...</span>
}
else
{
    @if (autorizado)
    {
        @Authorize
    }
    else
    {
        @NotAuthorize
    }
}



@code {
    private bool autorizado = false;
    private bool _isLoading = true;

    private IEnumerable<Modulo> modulosUsuario;

    [Parameter]
    public RenderFragment Authorize { get; set; }

    [Parameter]
    public RenderFragment NotAuthorize { get; set; }

    [CascadingParameter]
    protected UserSession? userSession { get; set; }

    [CascadingParameter] 
    protected RouteData routeData { get; set; }

    protected override void OnInitialized()
    {
        _navigationManager.LocationChanged += LocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await InvokeAsync(ValidarAutorizacion);
            }
        }
        catch (Exception exe)
        {
            _logger.LogError(exe, "Error al consultar páginas para autorización");
        } 
    }

    private async Task consultarModulos()
    {
        try
        {
            string usuario = userSession.UserName;

            if (!string.IsNullOrEmpty(usuario))
            {
                IEnumerable<Rol> roles = _authService.roles;
                modulosUsuario = roles.FirstOrDefault(r => r.id_rol == userSession.Role).modulos;
            }
            else
            {
                modulosUsuario = new List<Modulo>();
            }

            if (modulosUsuario == null) modulosUsuario = new List<Modulo>();
        }
        catch (Exception exe)
        {
            _logger.LogError(exe, $"Error al consultar módulos para perfilamiento");
            modulosUsuario = new List<Modulo>();
        }
    }

    private bool tieneAccesoModulo(string id_modulo)
    {
        try
        {
            bool resultado = modulosUsuario.Any(m => m.id_modulo == id_modulo);

            return resultado;
        }
        catch (Exception exe)
        {

        }

        return false;
    }

    private async Task ValidarAutorizacion()
    {
        try
        {
            PageInfoAttribute pageInfo = routeData.PageType.GetCustomAttributes<PageInfoAttribute>().FirstOrDefault();
            RouteAttribute routeAttribute = routeData.PageType.GetCustomAttributes<RouteAttribute>().FirstOrDefault();

            if (pageInfo is null)
            {
                _logger.LogError($"La página {routeAttribute.Template} no tiene atributo de página");
                autorizado = false;
                _isLoading = false;
                StateHasChanged();
                return;
            }

            if (!pageInfo.perfilable)
            {
                autorizado = true;
                _isLoading = false;
                StateHasChanged();
                return;
            }

            await consultarModulos();

            //Perfilamiento
            string id_modulo = pageInfo.id_modulo;

            autorizado = tieneAccesoModulo(id_modulo);
            _isLoading = false;
            StateHasChanged();

            return;
        }
        catch (Exception exe)
        {
            _logger.LogError(exe, "Error al verificar autorización de módulo");
            autorizado = false;
            _isLoading = false;
            StateHasChanged();
            return;
        }
    }

    private async void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        //string navigationMethod = e.IsNavigationIntercepted ? "HTML" : "code";
        //System.Diagnostics.Debug.WriteLine($"Notified of navigation via {navigationMethod} to {e.Location}");

        await InvokeAsync(ValidarAutorizacion);
    }

    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        _navigationManager.LocationChanged -= LocationChanged;
    }
}
